/* ALL */
body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 12px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.background {
  width: 100%;
  min-width: 775px;
  position: absolute;
  top: 0;
  left: 0;
}

.section h1, h3, h5 {
  font-weight: 100;
}

.section {
  min-width: 775px;
}

.section .container {
  width: 75%;
  margin: 0 auto;
}

.two-third {
  width: 66%;
}

.one-third {
  width: 33%;
}

.column-left {
  float: left;
}

.column-right {
  float: right;
}

/* HEADER */
.header {

  /*background*/
  background-color: rgb(53, 63, 70);
  background-color: rgba(53, 63, 70, .85);
  width: 100%;
  min-width: 775px;

  /*positioning*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.header .logo {
  display: none;
  text-align: left;
  width: 50%;
  height: 100px;

  background: -moz-linear-gradient(left right,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.64) 34%, rgba(255,255,255,1) 53%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(34%,rgba(255,255,255,0.64)), color-stop(53%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.64) 34%,rgba(255,255,255,1) 53%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.64) 34%,rgba(255,255,255,1) 53%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.64) 34%,rgba(255,255,255,1) 53%); /* IE10+ */
  background: linear-gradient(to left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.64) 34%,rgba(255,255,255,1) 53%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

}

.header .logo.show {
  display: block;
}

.header .logo img {
  height: 50px;
  padding: 25px;
}

.nav-bar {
  color: #ffffff;
  
  /*text*/
  text-align: center;
}

.nav-bar ul {
  padding: 0 10px;
  list-style: none;
  position: relative;
  
}

.nav-bar li {
  display: inline;
  text-align: center;
}

.nav-bar li.separator {
  margin: 0 1%;
}

.nav-bar li.active {
  font-weight: 700;
}

/* LANDING PANEL */
.landing .welcome-banner, .landing .scroll-instruction {
  /* positioning */
  position: absolute;
  width: 100%;
  min-width: 775px;
  
  /* center text */
  color: #ffffff;
  text-align: center;
}

.landing .welcom-banner {
  top: 300px;
}

.landing span {
  /* background */
  background-color: rgb(53, 63, 70);
  background-color: rgba(53, 63, 70, .85);
  padding: 5px 15px;
  margin: 0 auto;
}

.landing .welcome-banner h1 {
  font-weight: 700;
}

.landing {
  text-align: center;
}

.landing .scroll-instruction {
  bottom: 50px;
}

#scrollInstruction {
  display: none;
}

/* SERVICES PANEL */
.services {
  /* background*/
  background-color: #7499c6;

  text-align: center;
  color: #ffffff;
  display: inline-block;
  width: 75%;
}

.services .services-container {
  /* positioning */
  min-width: 775px;
}

.services .logo {
  height: 75px;
}

.services h1 {
  margin: 25px 0 0 0;
  font-weight: 100;
  text-align: left;
}

.services ul {
  padding: 0;
  margin: 50px 0 0 0;
  list-style: none;
  position: relative;
  cursor: pointer;
}

.services li {
  display: inline;
  float: left;
  max-width: 23%;
  padding: 5px;
  text-align: left;
  font-weight: 100;
}

#services-description {
  background: none repeat scroll 0 0 rgba(53, 63, 70, 0.95);
  left: 0;
  padding: 15px;
  position: absolute;
  top: 0;
  text-align: left;
  display: none;
}

#services-description h5 {
  margin: 0;
}

#services-description h3, #services-description h5 span {
  border-bottom: 1px solid;
  margin: 10px 0;
}

#services-description ul {
  list-style: disc;
  margin: 0;
  padding: 0;
}

#services-description li {
  display: list-item;
  float: none;
  margin: 0;
  padding: 0;
  max-width: none;
}

#services-description .content {
  margin-left: 25px
}

#services-description a:hover {
  text-decoration: underline;
}

h3#close {
  border: 1px solid;
  position: absolute;
  top: 0;
  right: 15px;
  padding: 0 5px;
}

h3#close:hover {
  background-color: #fff;
  color: #000;
}

/* PRODUCTS PANEL*/
.products {
  background: #ffffff;
}

.products .left-column {
  width: 33%;
}

.products .products-images .image-container {
  width: 250px;
  display: inline-block;
  overflow: hidden;
  float: left;
  height: 200px;
  margin: 5px;
}

.products .products-images .image-container img {
  width: 175%;
  position: relative;
  left: -35%;
  top: -15%;
}

.products .right-column {
  width: 50%;
  padding-left: 20px;
  display: inline-block;
}

.products .content {
  margin-left: 5px;
}

.products h3 {
  border-bottom: 1px solid;
  margin: 10px 0;
  cursor: pointer;
}

.products a {
  color: #000;
}

.products a:hover {
  text-decoration: underline;
}

.products .sub-content:nth-child(4) {
  display: none;
}

/* TRADE FAIRS */
.trade-fairs {
  background: #515f67;
  color: #ffffff;
}

.trade-fairs img {
  width: 100%;
}

.trade-fairs button {
  background: none repeat scroll 0 0 #7499c6;
  border: medium none;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 25px;
  font-weight: 700;
  margin: 25px;
}

.trade-fairs button:hover {
  background: #ffffff;
  color: #7499c6;
}

/* ABOUT */
.about {
  background: #515f67;
  color: #ffffff;
}

.about .background {
  opacity: .25;
}

.about .container {
  position: absolute;
  left: 0;
  right: 0;
  width: 75%;
  margin: 0 auto;
  top: 200px;
}

.about .container ul {
  font-size: 12px
}

.about .top.column {
  width: 100%;
  max-width: 675px;
}

.about .column {
  width: 50%;
  display: inline-block;
}

/* FAQ */
.faq {
  background-color: #7499c6;
  color: #ffffff;
}

.faq .questions-container ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  font-size: 12px;
  vertical-align: text-top
}

.faq .questions-container li {
  padding-left: 1em;
  text-indent: -1em;
  margin: 5px 0;
}

.faq .questions-container li a.question.plus:before {
  content: "+";
  padding-right: 5px;
}

.faq .questions-container li a.question.minus:before {
  content: "-";
  padding-right: 5px;
}

.faq .questions-container li a.question {
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

.faq .questions-container li.answer {
  text-indent: 0em;
  display: none;
  margin-bottom: 25px;
}

.faq .column {
  width: 49%;
  display: inline-block;
}

/* CONTACT */
.contact {
  background: #515f67;
  color: #ffffff;
}

.contact .background {
  opacity: .25;
}

.contact .container {
  position: absolute;
  left: 0;
  right: 0;
  width: 75%;
  margin: 0 auto;
  top: 200px;
}

.contact form input, .contact form textarea {
  border: none;
  opacity: .75;
  height: 30px;
  width: 80%;
  padding: 5px 15px;
}

.contact form textarea {
  width: 85%;
  height: 125px;
  font-family: Helvetica;
  font-size: 12px;
}

.contact h5 {
  margin: 25px 0 5px 0;
}

.contact p {
  margin: 0;
}

.contact .form-column-one, .contact .form-column-two {
  display: inline-block;
  width: 45%;
  vertical-align: text-top;
}

.contact .form-column-one {
  margin: 0 4% 0 0;
}
